# Link Guardian environment example

APP_DOMAIN=casp-linkguardian.duckdns.org

# Azure
AZURE_RESOURCE_GROUP=rg-casp-dev
AZURE_LOCATION=westeurope

# SQL
SQL_SERVER=sql-casplink-dev.database.windows.net
SQL_DATABASE=db-linkguardian
SQL_USERNAME=sqladmin
SQL_PASSWORD=change-me

# Key Vault
KEY_VAULT_NAME=kv-casp-dev

# SonarQube
SONAR_HOST_URL=http://localhost:9000
SONAR_TOKEN=change-me

# Application Insights
APPLICATIONINSIGHTS_CONNECTION_STRING=change-me
